.SideDrawer {
  position: fixed;
  width: 280px;
  max-width: 70%;
  height: 100%;
  left: 0;
  top: 0;
  /* zindex more than backdrop */
  z-index: 200;
  background-color: white;
  padding: 32px 16 px;
  box-sizing: border-box;
  transition: transform .03s ease-out;
}

@media(min-width:500px) {
  .SideDrawer {
    display: none;
  }
}

.Open {
  /* it will put those properties which are defined above */
  transform: translateX(0);
}

.Close {
  /* this will shift to left  */
  transform: translateX(-100%);

}

.Logo {
  height: 11%;
}

/* as Open and Close class will keep opening and closing the SlideDrawer, "transition: transform .03s ease-out;" will play its part  */