.Blog ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
}

.Blog  li {
    display: inline-block;
    margin: 20px;
}

.Blog  a {
    text-decoration: none;
    color: black;
}

.Blog a:hover,
/* will be used when we click on it */
.Blog a:active,
/* adding active class */
.Blog a.active {
    color: #fa923f;
}