.NavigationItems {
  padding: 0;
  margin: 0;
  display: flex;
  list-style: none;
  align-items: center;
  height: 100%;
  /*  */
  flex-flow: column;
}

@media(min-width: 500px) {
  .NavigationItems {
    flex-flow: row;
  }
}